.message-content-style {
    color: white;
    display: flex;
    flex-direction: column;
}

.message-content-style > h5 {
    margin: 0;
}

.message-content-style > p {
    font-size: 0.9rem;
    margin: 5px 0 0 0;
}
